:root {
    color-scheme: dark;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    background: #000000;
    overflow: hidden;
    font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial;
}

#editor {
    height: 100%;
    display: grid;
    place-items: stretch;
}

#editor-canvas {
    width: 100%;
    height: 100%;
    display: block;
    outline: none;
    cursor: text;
}